[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=localhost
Environment=CATALOGUE_HOST=localhost
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target